<template>
    <div class="footer-wrapper">
        <div class="footer-section f-section-1">
            <p class="">MDR</p>
        </div>
        <div class="footer-section f-section-2">
            {{new Date().toLocaleDateString('pt-br')}}
        </div>
    </div>
</template>

<script>
export default {
    name: "Footer"
}
</script>
