<template>
    <!-- begin nav mobile -->
    <nav class="navbar navbar-dark navbar-theme-primary px-4 col-12 d-lg-none">
        <a class="navbar-brand me-lg-5" href="../index.html">
            <!-- <img class="navbar-brand-dark" src="" /> <img class="navbar-brand-light" src=""
                alt="" /> -->
        </a>
        <div class="d-flex align-items-center">
            <button class="navbar-toggler d-lg-none collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <!-- end nav mobile -->
    <Menu />
    <main class="content">
        <TopBar />
        <div class="content-volt">
            <slot />
        </div>
    </main>
</template>
<script>
import TopBar from './TopBar.vue';
import Menu from './Menu.vue';
import Footer from './Footer.vue';
import { Head } from '@inertiajs/inertia-vue3'
export default {
    components: { TopBar, Menu, Footer, Head },
    data() {
        return {
            toast_options: {
                duration: 10000
            }
        }
    },
    mounted() {
        document.getElementById('sidebar-toggle')
            .addEventListener('click', function () {
                const sidebar = document.getElementById('sidebarMenu');
                if (sidebar.classList.contains('contracted')) {
                    sidebar.classList.remove('contracted');
                    localStorage.removeItem('sidebar', 'contracted');
                } else {
                    sidebar.classList.add('contracted');
                    localStorage.setItem('sidebar', 'contracted');
                }
            });
        if (route().current('kanban')) {
            $('.nome-perfil').css('color', ' #fff')
            let imgNum = Math.floor(Math.random() * 10) + 1; // gera um número aleatório de 1 a 10
            let imgName = 'trilho' + imgNum + '.jpg';
            let img = this.base_url + '/img/' + imgName;
            document.body.style.backgroundImage = 'url(' + img + ')';
            document.body.style.backgroundRepeat = 'no-repeat';
            document.body.style.backgroundSize = 'cover';
        } else {
            document.body.style.backgroundImage = '';
            document.body.style.backgroundRepeat = 'no-repeat';
            document.body.style.backgroundSize = 'cover';
        }
    },
    methods: {
    },
    watch: {
        '$page.props.errors': {
            handler(errors) {
                this.toast.clear();
                this.$nextTick(() => {
                    Object.values(errors).forEach((error, i) => {
                        // setTimeout(() => {
                        this.toast.error(error, { timeout: 0 });
                        // }, i * 1000)
                    });
                })
            },
            deep: true,
            immediate: true,
        },
        '$page.props.flash.message': {
            handler(message) {
                if (message) {
                    this.$nextTick(() => {
                        this.toast[message.type](message.text, {});
                    })
                }
            },
            deep: true,
            immediate: true,
        },
    }
}
</script>
