<template>
    <nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse contracted" data-simplebar>
        <div class="sidebar-inner px-4 pt-3">
            <div class="user-card d-flex d-md-none justify-content-between justify-content-md-center pb-4">
                <div class="d-flex align-items-center">
                    <div class="avatar-lg me-4">
                        <img src="" class="card-img-top rounded-circle border-white" alt="Bonnie Green">
                    </div>
                    <div class="d-block">
                        <h2 class="h5 mb-3">Hi, Lucas</h2>
                        <a href="../pages/examples/sign-in.html"
                            class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                            <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1">
                                </path>
                            </svg>
                            Sign Out
                        </a>
                    </div>
                </div>
                <div class="collapse-close d-md-none">
                    <a href="#sidebarMenu" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
                        aria-controls="sidebarMenu" aria-expanded="true" aria-label="Toggle navigation">
                        <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </a>
                </div>
            </div>
            <ul class="nav flex-column pt-3 pt-md-0">
                <!-- Gerenciamento -->
                <li class="nav-item">
                    <span class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
                        data-bs-target="#submenu-gerenciamento">
                        <span>
                            <span class="sidebar-icon" :class="route().current('index') ? 'text-warning' : ''">
                                <BIconTools />
                            </span>
                            <span class="sidebar-text"
                                :class="route().current('index') ? 'text-warning' : ''">Gerenciamento</span>
                        </span>
                        <span class="link-arrow">
                            <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                    </span>
                    <div class="multi-level collapse" :class="route().current('index') ? 'show' : ''" role="list"
                        id="submenu-gerenciamento" aria-expanded="false" style="">
                        <ul class="flex-column nav">
                            <li class="nav-item " :class="route().current('index') ? 'active' : ''">
                                <Link class="nav-link" :href="route('index')">
                                <span class="sidebar-text-contracted">D</span>
                                <span class="sidebar-text">Importador</span>
                                </Link>
                            </li>
                            <li class="nav-item ">
                                <Link class="nav-link" href="../../pages/tables/bootstrap-tables.html">
                                <span class="sidebar-text-contracted">B</span>
                                <span class="sidebar-text">Modelo de importação</span>
                                </Link>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="../../pages/tables/bootstrap-tables.html">
                                    <span class="sidebar-text-contracted">B</span>
                                    <span class="sidebar-text">Importação de shape file</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="../../pages/tables/bootstrap-tables.html">
                                    <span class="sidebar-text-contracted">B</span>
                                    <span class="sidebar-text">Análise de levantamento</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="../../pages/tables/bootstrap-tables.html">
                                    <span class="sidebar-text-contracted">B</span>
                                    <span class="sidebar-text">Relatório de levantamento</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- Cadastros -->
                <li class="nav-item">
                    <span class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
                        data-bs-target="#submenu-cadastro" aria-expanded="false">
                        <span>
                            <span class="sidebar-icon">
                                <BIconPlusSquareFill />
                            </span>
                            <span class="sidebar-text">Cadastros</span>
                        </span>
                        <span class="link-arrow">
                            <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                    </span>
                    <div class="multi-level collapse" role="list" id="submenu-cadastro" aria-expanded="false" style="">
                        <ul class="flex-column nav">
                            <li class="nav-item ">
                                <a class="nav-link" href="../../pages/tables/datatables.html">
                                    <span class="sidebar-text-contracted">S</span>
                                    <span class="sidebar-text">SRE</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="../../pages/tables/bootstrap-tables.html">
                                    <span class="sidebar-text-contracted">M</span>
                                    <span class="sidebar-text">Materiais e serviços</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="../../pages/tables/bootstrap-tables.html">
                                    <span class="sidebar-text-contracted">C</span>
                                    <span class="sidebar-text">Composição de custos</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="../../pages/tables/bootstrap-tables.html">
                                    <span class="sidebar-text-contracted">S</span>
                                    <span class="sidebar-text">Soluções</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="../../pages/tables/bootstrap-tables.html">
                                    <span class="sidebar-text-contracted">C</span>
                                    <span class="sidebar-text">Calibração</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="../../pages/tables/bootstrap-tables.html">
                                    <span class="sidebar-text-contracted">B</span>
                                    <span class="sidebar-text">Rodovias</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="../../pages/tables/bootstrap-tables.html">
                                    <span class="sidebar-text-contracted">B</span>
                                    <span class="sidebar-text">Cenário de tráfego</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- HDM4 -->
                <li class="nav-item">
                    <span class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
                        data-bs-target="#submenu-hdm4" aria-expanded="false">
                        <span>
                            <span class="sidebar-icon">
                                <BIconArchiveFill />
                            </span>
                            <span class="sidebar-text">HDM4</span>
                        </span>
                        <span class="link-arrow">
                            <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                    </span>
                    <div class="multi-level collapse" role="list" id="submenu-hdm4" aria-expanded="false" style="">
                        <ul class="flex-column nav">
                            <li class="nav-item ">
                                <a class="nav-link" href="../../pages/tables/datatables.html">
                                    <span class="sidebar-text-contracted">E</span>
                                    <span class="sidebar-text">Exportador</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="../../pages/tables/bootstrap-tables.html">
                                    <span class="sidebar-text-contracted">C</span>
                                    <span class="sidebar-text">Configurações</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- Relatórios -->
                <li class="nav-item">
                    <span class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
                        data-bs-target="#submenu-relatorios" aria-expanded="false">
                        <span>
                            <span class="sidebar-icon">
                                <BIconBarChartFill />
                            </span>
                            <span class="sidebar-text">Relatórios</span>
                        </span>
                        <span class="link-arrow">
                            <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                    </span>
                    <div class="multi-level collapse" role="list" id="submenu-relatorios" aria-expanded="false" style="">
                        <ul class="flex-column nav">
                            <li class="nav-item ">
                                <a class="nav-link" href="../../pages/tables/datatables.html">
                                    <span class="sidebar-text-contracted">I</span>
                                    <span class="sidebar-text">IRI</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="../../pages/tables/bootstrap-tables.html">
                                    <span class="sidebar-text-contracted">I</span>
                                    <span class="sidebar-text">IRI Geral</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="../../pages/tables/bootstrap-tables.html">
                                    <span class="sidebar-text-contracted">D</span>
                                    <span class="sidebar-text">Deflecção</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- SIG -->
                <li class="nav-item">
                    <span class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
                        data-bs-target="#submenu-sig" aria-expanded="false">
                        <span>
                            <span class="sidebar-icon">
                                <BIconMapFill />
                            </span>
                            <span class="sidebar-text">SIG</span>
                        </span>
                        <span class="link-arrow">
                            <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                    </span>
                    <div class="multi-level collapse" role="list" id="submenu-sig" aria-expanded="false" style="">
                        <ul class="flex-column nav">
                            <li class="nav-item ">
                                <a class="nav-link" href="../../pages/tables/datatables.html">
                                    <span class="sidebar-text-contracted">I</span>
                                    <span class="sidebar-text">Mapa</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- Gestão -->
                <li class="nav-item">
                    <span class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
                        data-bs-target="#submenu-gestao" aria-expanded="false">
                        <span>
                            <span class="sidebar-icon">
                                <BIconKanbanFill />
                            </span>
                            <span class="sidebar-text">Gestão</span>
                        </span>
                        <span class="link-arrow">
                            <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                    </span>
                    <div class="multi-level collapse" role="list" id="submenu-gestao" aria-expanded="false" style="">
                        <ul class="flex-column nav">
                            <li class="nav-item ">
                                <a class="nav-link" href="../../pages/tables/datatables.html">
                                    <span class="sidebar-text-contracted">M</span>
                                    <span class="sidebar-text">Matriz de decisão</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="../../pages/tables/datatables.html">
                                    <span class="sidebar-text-contracted">A</span>
                                    <span class="sidebar-text">Análise gerencial</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="../../pages/tables/datatables.html">
                                    <span class="sidebar-text-contracted">A</span>
                                    <span class="sidebar-text">Cruzamento de índices</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!-- Administrativo -->
                <li class="nav-item">
                    <span class="nav-link d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
                        data-bs-target="#submenu-administrativo" aria-expanded="false">
                        <span>
                            <span class="sidebar-icon">
                                <BIconPeopleFill />
                            </span>
                            <span class="sidebar-text">Administrativo</span>
                        </span>
                        <span class="link-arrow">
                            <svg class="icon icon-sm" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                    </span>
                    <div class="multi-level collapse" role="list" id="submenu-administrativo" aria-expanded="false"
                        style="">
                        <ul class="flex-column nav">
                            <li class="nav-item ">
                                <a class="nav-link" href="../../pages/tables/datatables.html">
                                    <span class="sidebar-text-contracted">
                                        <BIconPersonFill />
                                    </span>
                                    <span class="sidebar-text">Usuário</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="../../pages/tables/datatables.html">
                                    <span class="sidebar-text-contracted">
                                        <BIconBuildingFill />
                                    </span>
                                    <span class="sidebar-text">Empresa/Regionais</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="../../pages/tables/datatables.html">
                                    <span class="sidebar-text-contracted">
                                        <BIconPencilSquare />
                                    </span>
                                    <span class="sidebar-text">Contratos</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <!-- Exemplo sem submenu -->
                <!-- <li class="nav-item ">
                    <Link :href="route('index')" class="nav-link">
                    <span class="sidebar-icon">
                        <svg class="icon icon-xs me-2" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M3 4a1 1 0 011-1h12a1 1 0 011 1v2a1 1 0 01-1 1H4a1 1 0 01-1-1V4zM3 10a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H4a1 1 0 01-1-1v-6zM14 9a1 1 0 00-1 1v6a1 1 0 001 1h2a1 1 0 001-1v-6a1 1 0 00-1-1h-2z">
                            </path>
                        </svg>
                    </span>
                    <span class="sidebar-text">Cadastros</span>
                    </Link>
                </li> -->
            </ul>
        </div>
    </nav>
</template>
<script>
import { Link } from '@inertiajs/inertia-vue3'
export default {
    components: { Link },
    name: "Menu"
}
</script>

<style scoped>
::-webkit-scrollbar {
    display: none;
}

.nav-link:hover {
    background-color: #d8d8d83c !important;
}
</style>
