<template>
    <Layout>
        <!-- <BreadcumbMenu :items="[{ url: '#', name: 'Mapa' }, { url: route('index'), name: 'Anexos' }]" /> -->
        <BreadcumbMenu modulo="Levantamento" submodulo="Mapa" />
        <!-- <h1>asdf</h1> -->
    </Layout>
</template>

<script>
import Layout from '../layout/Main.vue';
import BreadcumbMenu from '../global_components/BreadcumbMenu.vue';

export default {
    components: { Layout, BreadcumbMenu }
}
</script>

<style scoped></style>
