<template>
    <main>
        <!-- Section -->
        <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center form-bg-image">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="bg-white_ shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">Sistema de Gerência de Pavimento</h1>
                            </div>
                            <form @submit.prevent="login()" class="mt-4">
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="email">Seu E-mail</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1">
                                            <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z">
                                                </path>
                                                <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z">
                                                </path>
                                            </svg>
                                        </span>
                                        <input v-model="login_form.email" type="email" class="form-control" placeholder=""
                                            id="email" autofocus required>
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="password">Sua Senha</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2">
                                                <svg class="icon icon-xs text-gray-600" fill="currentColor"
                                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd"
                                                        d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                                        clip-rule="evenodd"></path>
                                                </svg>
                                            </span>
                                            <input v-model="login_form.password" type="password" placeholder=""
                                                class="form-control" id="password" required>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-top mb-4">
                                        <div class="form-check">
                                            <input v-model="login_form.remember" class="form-check-input" type="checkbox"
                                                value="" id="remember">
                                            <label class="form-check-label mb-0" for="remember">Lembrar
                                                credenciais</label>
                                        </div>
                                        <div>
                                            <!-- <a :href="route('admin.usuarios.resetForm')" class="small text-right">Esqueceu a
                                                senha?</a> -->
                                        </div>
                                    </div>
                                    <!-- End of Form -->

                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-gray-800">Entrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>
<script>
import { Inertia } from '@inertiajs/inertia';
import { Head } from '@inertiajs/inertia-vue3'
export default {
    name: 'Login',
    props: { errors: Object, flash: Object },
    components: { Inertia, Head },
    data() {
        return {
            login_form: {},
            show_password: false,
            toast_options: {
                duration: 5000
            }
        }
    },
    mounted() {
        // let img = this.base_url + '/img/trilho4.jpg';
        // document.body.style.backgroundImage = 'url(' + img + ')';
        // document.body.style.backgroundRepeat = 'no-repeat';
        // document.body.style.backgroundSize = 'cover';
    },
    methods: {
        login() {
            Inertia.post(route('authenticate'), this.login_form);
        },
    },
    watch: {
        '$page.props.errors': {
            handler(errors) {
                this.toast.clear();
                this.$nextTick(() => {
                    Object.values(errors).forEach((error, i) => {
                        // setTimeout(() => {
                        this.toast.error(error, { timeout: 0 });
                        // }, i * 1000)
                    });
                })
            },
            deep: true,
            immediate: true,
        },
        '$page.props.flash.message': {
            handler(message) {
                if (message) {
                    this.$nextTick(() => {
                        this.toast[message.type](message.text, {});
                    })
                }
            },
            deep: true,
            immediate: true,
        },
    }
}
</script>
<style>
.bg-white_ {
    background-color: #fff;
    opacity: 0.8;
}

.bg-white_:hover {
    opacity: 1;
}

.bg-color-green {
    background: rgb(2, 0, 36);
    background: linear-gradient(121deg, rgba(2, 0, 36, 1) 0%, rgba(31, 93, 25, 1) 58%, rgba(61, 226, 255, 1) 100%);
}
</style>
