@import 'bootstrap-icons/font/bootstrap-icons.css';

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: auto;
    margin-top: auto;
}

#nprogress .bar {
    z-index: 9999 !important;
}

.v-toast__text {
    font-weight: bold;
    color: white;
}

.btn-as-link {
    background: none !important;
    border: none;
    color: black;
    opacity: 0.7 !important;
    padding: 0.5em !important;
}


.btn-as-link:hover {
    color: #069 !important;
}

.btn-icon {
    background: none !important;
    border: none;

}


.btn-icon:hover {
    opacity: 0.7;
}

.bg-custom-blue {
    background-color: #0c326f !important;
}

:root {
    --vs-line-height: 2;
}

.text-align-left {
    text-align: left !important;
}

.text-align-right {
    text-align: right !important;
}

.text-align-center {
    text-align: center !important;
}

.avatar-title {
    background-color: black !important;
    padding: 4px;
}

.f-head {
    padding-top: 10px;
    padding-bottom: 10px;
}

.user-name {
    margin-left: 10px;
    font-weight: bold;
}

.user-meta-time {
    margin-left: 10px;
    font-size: 9pt;
}

.f-body {
    background-color: rgb(245, 245, 245) !important;
    padding: 8px;
}

.person {
    margin-bottom: 10px;
}

.btn-modal {
    background-color: #E2E4E9
}

.btn-modal svg {
    color: black
}

.card-name {
    margin-top: -15px;
    font-size: 14pt;
    font-weight: bold;
}

.btn-modal svg {
    color: black
}

.cursor-pointer {
    cursor: pointer;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

.uppercase {
    text-transform: uppercase;
}