<template>
    <div class="card shadow-sm" :class="class">
        <div class="card-body">
            <slot />
        </div>
    </div>
</template>

<script>
export default {
    props: { class: String },
    name: 'Card'
}
</script>
