<template>
    <div :id="id ?? 'map'" :style="`height: ${height}`"></div>
</template>

<script>
export default {
    props: { geojson: String, height: String, coordinates: Array, manualRender: Boolean, id: String },
    data() {
        return {
            map: {},
            points_group: null,
            geojson_layer: null,
            marker_layer: null,
        }
    },
    mounted() {
        if (!this.manualRender) {
            this.render();
        }
    },
    watch: {
        geojson(value) {
            this.setLayer(value); // Atualiza Mapa caso valor do geojson mude
        },
        coordinates(value) {
            if (value.length == 2) {
                this.setPointMarker(value); // Atualiza ponto caso coordenadas mudem
            }
        }
    },
    methods: {
        render() {
            this.renderMap(); // Renderiza Mapa vazio
            this.setLayer(this.geojson); // Define dados do mapa de acordo com geojson
            this.setPointMarker(this.coordinates); // Define ponto no mapa de acordo com array de coordenads (lat, e lng)
        },
        renderMap() {
            // Renderiza Mapa vazio
            this.map = L.map(this.id ?? 'map').setView(
                ["-10.6007767", "-63.6037797"],
                4.5
            );

            // Adiciona Tiles do OpenStreetMap
            L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
                maxZoom: 18,
                attribution:
                    'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ',
                id: "mapbox.streets",
                fadeAnimation: true,
            }).addTo(this.map);
        },
        setPointMarker(coordinates) {

            // Remove marcador pre existente
            if (this.marker_layer !== null) {
                this.map.removeLayer(this.marker_layer);
            }

            // Caso array tenha dois valores (Latitude e Longitude)
            if (coordinates && coordinates.length === 2 && coordinates[0] && coordinates[1]) {

                // Tenta definir ponto no mapa
                try {
                    // Define latitude e longitude
                    const lat = Number(coordinates[0]);
                    const lng = Number(coordinates[1]);

                    // Renderiza marcador
                    this.marker_layer = L.marker([lat, lng]).addTo(this.map);

                    // Centraliza mapa no marcador
                    this.map.setView([lat, lng])
                } catch (e) {
                    console.log(e);
                    this.$toast.error('Coordenadas inválidas.');
                }
            }

        },
        setLayer(geojson_linestring) {

            // Remove Layer anterior caso exista
            if (this.geojson_layer) {
                this.map.removeLayer(this.geojson_layer);
                this.geojson_layer = null;
            }

            try {
                // Faz Parse do GeoJSON
                const geojson = JSON.parse(geojson_linestring);

                // Adiciona nova Layer com dados do GeoJSON Parseado
                this.geojson_layer = L.geoJSON().addTo(this.map);
                this.geojson_layer.addData(geojson);

                // Zoom automático
                this.map.setView(this.geojson_layer.getBounds().getCenter());
                this.map.fitBounds(this.geojson_layer.getBounds());
            } catch (e) {
                if (geojson_linestring) {
                    console.log(e);
                    this.$toast.error('GeoJSON inválido.');
                }
            }

        },
        setLinestrings(linestring_array) {

            // Remove Layer anterior caso exista
            if (this.geojson_layer) {
                this.map.removeLayer(this.geojson_layer);
                this.geojson_layer = null;
            }

            if (linestring_array.length) {
                try {
                    // Adiciona nova Layer com dados do GeoJSON Parseado
                    this.geojson_layer = L.geoJSON().addTo(this.map);

                    linestring_array.forEach(geojson_linestring => {

                        // Faz Parse do GeoJSON
                        const geojson = JSON.parse(geojson_linestring);

                        // Adiciona na layer
                        this.geojson_layer.addData(geojson);
                    });


                    // Zoom automático
                    return this.map.fitBounds(this.geojson_layer.getBounds());

                } catch (e) {
                    if (linestring_array && linestring_array.length) {
                        console.log(e);
                        this.$toast.error('GeoJSON inválido.');
                    }
                }
            }

            // Retorna a visualização inicial caso pontos não sejam informados
            this.map.setView(
                ["-10.6007767", "-63.6037797"],
                4.5
            );

        },


        setPoints(points_array) {

            // Remove marcador pre existente
            if (this.marker_layer !== null || this.points_group !== null) {
                this.points_group = null;
                this.map.removeLayer(this.marker_layer);
            }

            if (points_array.length) {
                points_array.forEach(point => {

                    // Caso array tenha dois valores (Latitude e Longitude)
                    if (point && point.length === 2 && point[0] && point[1]) {

                        // Tenta definir ponto no mapa
                        try {
                            // Define latitude e longitude
                            const lat = Number(point[0]);
                            const lng = Number(point[1]);

                            // Renderiza marcador
                            this.marker_layer = L.marker([lat, lng]).addTo(this.map);

                        } catch (e) {
                            console.log(e);
                            this.$toast.error('Coordenadas inválidas.');
                        }
                    }
                });

                return this.map.fitBounds(points_array);
            }
            // Retorna a visualização inicial caso pontos não sejam informados
            this.map.setView(
                ["-10.6007767", "-63.6037797"],
                4.5
            );


        },
        zoomTo(coordenadas) {
            this.map.setView(coordenadas, 15);
        },
        zoomToLinestring(geojson_linestring) {

            try {
                const geojson = JSON.parse(geojson_linestring);

                // Mapeamento é necessário pois latitude/longitude vem na ordem errada do linestring
                let latLngArrat = geojson.coordinates.map(arr => {
                    return [arr[1], arr[0]]
                });

                this.map.fitBounds([latLngArrat]);

            } catch (e) {
                if (geojson_linestring) {
                    console.log(e);
                    this.$toast.error('GeoJSON inválido.');
                }
            }

        }
    }

}
</script>
