<template>
    <!-- Container para tabela responsiva -->
    <div class="table-responsive rounded">

        <!-- Tabela -->
        <table class="table table-hover table-bordered rounded" ref="table">
            <thead class="text-primary bg-light text-nowrap">
                <tr>
                    <th v-for="(col, i) in columns" :key="i">{{ col }}</th>
                </tr>
            </thead>
            <tbody>
                <slot />
            </tbody>
        </table>

        <hr>

        <div v-if="emptyTable" class="w-100 text-center my-4">
            <h6>Nenhum registro encontrado</h6>
        </div>

        <div>
            <div class="p-1 d-flex w-100 align-items-end justify-content-between">

                <!-- Paginação -->
                <div>
                    <div v-if="pagination_data && pagination_data.data.length">
                        <strong>
                            Mostrando {{ pagination_data.to ?? 0 }} de {{ pagination_data.total ?? 0 }} registros.
                        </strong>
                        <ul class="pagination mb-0 mt-2">
                            <li v-for="(link, i) in pagination_data.links" :key="i" class="page-item"
                                :class="getLinkCSSClass(link)">
                                <Link class="page-link" :class="getLinkCSSClass(link)" :href="link.url"> {{ link.label }}
                                </Link>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Excel Export -->
                <div>
                    <a v-if="excel_route" class="btn btn-outline-primary" :href="`${excel_route}?${route().params.q}`">
                        <i class="bi bi-table mr-2"></i> Excel
                    </a>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue3'
export default {
    name: 'Table',
    props: { columns: Array, pagination_data: Object, excel_route: String },
    components: { Link },
    data() {
        return {
            emptyTable: true
        }
    },
    mounted() {
        this.$nextTick(() => {
            this.emptyTable = this.$refs.table.rows.length <= 1;
        });
    },
    updated() {
        this.$nextTick(() => {
            this.emptyTable = this.$refs.table.rows.length <= 1;
        });
    },
    methods: {
        getLinkCSSClass(link) {
            let css = '';

            if (link.active) {
                css = ' active ';
            }

            if (isNaN(link.label) && link.url === null) {
                css += ' disabled ';
            }

            return css;
        },

    }
}
</script>
